/*Formulario contacto*********/

.contenedorFormulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.puedesContactarnos {
    p {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Mooli', sans-serif;
    }

    h2 {
        text-transform: uppercase;
        text-align: center;
        color: rgb(252, 0, 155);
        font-size: 40px;
        font-family: 'Courgette', cursive;
    }
}

.formContacto {
    text-align: left;
    font-weight: bold;
    color: rgb(252, 0, 155);
    margin-top: 30px;
    font-family: 'Mooli', sans-serif;

    input,
    textarea {
        border: 1px solid $color-fuccia;
    }
}